<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>
    <style>
        * {
            text-align: center;
            vertical-align: center;
        }

        .password {
            text-align: start;
        }

        .confirmPassword {
            text-align: start;
        }
    </style>
</head>

<body>
    <h1>Password Reset</h1>
    <h3>
        <%=email%>
    </h3>

    <form action="" method="post">

        <label for="password">Password:</label>
        <input type="password" class="password" id="password" name="password"><br><br>

        <label for="confirmPassword">Confirm:</label>
        <input type="password" class="confirmPassword" id="confirmPassword" name="confirmPassword"><br><br>

        <input type="submit" class="submitButton" id="submitButton" value="Reset">
    </form>

</body>

</html>